.favorite-page {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  padding-top: 60px;
  border-bottom: 1px solid rgba(213, 215, 219, 0.4);

  .favorite-page__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    min-width: 941px;
    max-width: 1090px;
    margin: 0 auto;
    padding: 0 2.2%;
  }

  .foods-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
  }

  app-food-card {
    margin: 10px 0 0 10px;

    &:hover {
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }
  }
}
