ngb-carousel {
  position: absolute;
  top: 10px;

  width: 90%;

  border: 1px dashed #dfbfdf;
  border-radius: 10px;
  background-color: white;
}

.slide {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 80px 20px 60px;
  width: 940px;
  height: 350px;
  font-size: 24px;
  color: black;
  text-decoration: none;

  .left-side {
    width: 55%;
  }

  .right-side {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 45%;
    height: 300px;
  }

  h2 {
    text-align: start;
  }

  .price {
    margin-top: 30px;
    color: blue;
  }
  img {
    object-fit: contain;
    width: 90%;
    height: 200px;
  }
}
::ng-deep .carousel-indicators .active {
  background-color: #941e94;

  border-radius: 2px;
}

::ng-deep .carousel-indicators li {
  background-color: white;
  border: 1px solid #941e94;
  border-radius: 2px;
}

::ng-deep .carousel-control-prev-icon {
  filter: invert(16%) sepia(82%) saturate(2985%) hue-rotate(287deg)
    brightness(90%) contrast(94%);
}
::ng-deep .carousel-control-next-icon {
  filter: invert(16%) sepia(82%) saturate(2985%) hue-rotate(287deg)
    brightness(90%) contrast(94%);
}
