<ngb-carousel *ngIf="foods">
  <ng-template ngbSlide *ngFor="let food of foods">
    <a class="slide" href="#">
      <div class="left-side">
        <h2>
          <a
            [routerLink]="['/food']"
            [queryParams]="{
              foodId: food.id,
              categoryId: food.category,
              subCategoryId: food.subCategory
            }"
            >{{ food.name }}</a
          >
        </h2>
        <div class="price">цена: {{ food.price }}</div>
      </div>
      <div class="right-side"><img [src]="food.imageUrls[0]" /></div>
    </a>
  </ng-template>
</ngb-carousel>
