<div class="header__fist-line">
  <div class="header__fist-line-wrapper">
    <div class="header__fist-line-left">
      <button class="btn-location">{{ currentLocation }}</button>
    </div>
    <div class="header__fist-line-right">
      <nav class="nav-communcation">
        <a class="nav-communcation__viber-contact nav-communcation__contact"
          >Viber</a
        >
        <a class="nav-communcation__a1-contact nav-communcation__contact"
          >+375 29 302 10 21</a
        >
        <a class="nav-communcation__contact">Еще</a>
      </nav>
      <div class="time-working">контакт-центр с 8:00 до 22:00</div>
    </div>
  </div>
</div>
<div class="header__second-line">
  <div class="header__second-line-wrapper">
    <a class="logo" href="#"></a>
    <button
      class="catalog"
      (click)="showCatalog = !showCatalog"
      [ngClass]="{ active: showCatalog }"
    >
      Каталог товаров
    </button>
    <app-search></app-search>
  </div>
</div>
<div class="header__third-line">
  <div class="header__third-line-wrapper">
    <ul class="category-menu">
      <li class="category-item" *ngFor="let item of categories">
        <a class="category-link" href="#">
          {{ item.name }}
        </a>
      </li>
    </ul>
  </div>
</div>
<app-catalog-popup *ngIf="showCatalog"></app-catalog-popup>
