.contact-popup {
  position: absolute;
  left: -50px;
  top: 30px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 250px;
  height: 280px;
  padding: 40px 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 3px 20px -6px rgba(0, 0, 0, 0.75);
  font-size: 18px;

  .btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 25px;
    height: 25px;
    outline: none;
    border: none;
    background-color: transparent;
    background: url("../../../../assets/icons/cross.svg") center no-repeat;
    background-size: cover;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  a {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 90%;
    padding-left: 30px;
    height: 35px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #d62761;
      background: rgba(229, 46, 107, 0.2);
    }
  }

  .contact-popup__smile {
    background: url("../../../../assets/icons/contact-smile.svg") left center
      no-repeat;

    &:hover {
      background: url("../../../../assets/icons/contact-smile_hover.svg") left
        center no-repeat;
    }
  }

  .contact-popup__phone {
    background: url("../../../../assets/icons/contact-phone.svg") left center
      no-repeat;

    &:hover {
      background: url("../../../../assets/icons/contact-phone_hover.svg") left
        center no-repeat;
    }
  }

  .contact-popup__telegram {
    background: url("../../../../assets/icons/contact-telegram.svg") left center
      no-repeat;

    &:hover {
      background: url("../../../../assets/icons/contact-telegram_hover.svg")
        left center no-repeat;
    }
  }
}
