<div class="login-info">
  <div class="login-info__wrapper">
    <div class="login-info__avatar"></div>
    <div class="login-info__user-name" *ngIf="userInfo">
      {{ userInfo.firstName }} {{ userInfo.lastName }}
    </div>

    <button
      class="login-info__btn-login"
      (click)="clickBtnLoginIn()"
      *ngIf="!isLogin"
    >
      Войти
    </button>
    <button
      class="login-info__btn-login"
      (click)="clickBtnLoginOut()"
      *ngIf="isLogin"
    >
      Выйти
    </button>

    <div class="login-info__info" *ngIf="userInfo">
      <a
        class="login-info__cart-info"
        *ngIf="userInfo.cart.length"
        [routerLink]="['/cart']"
      >
        Корзина
        <div class="login-info__cart-info-count">
          {{ userInfo.cart.length }}
        </div>
      </a>
      <a
        class="login-info__favorite-info"
        *ngIf="userInfo.favorites.length"
        [routerLink]="['/favorite']"
      >
        Избранное
        <div class="login-info__favorite-info-count">
          {{ userInfo.favorites.length }}
        </div>
      </a>
      <a
        class="login-info__favorite-info"
        *ngIf="userInfo"
        [routerLink]="['/order']"
      >
        Список заказов
        <div class="login-info__favorite-info-count">
          {{ userInfo.orders.length }}
        </div>
      </a>
    </div>
  </div>
</div>
