<div class="card-food">
  <img class="card-food__img" [src]="food.imageUrls[0]" />
  <div class="card-food__name">{{ food.name }}</div>
  <div class="card-food__availableAmount">
    {{ food.availableAmount | amount }}
  </div>
  <div class="card-food__price">{{ food.price }}</div>
  <div class="card-food__rating">
    <div
      class="card-food__rating-star"
      *ngFor="let i of [].constructor(food.rating)"
    ></div>
  </div>
  <button class="btn-inCart">В корзину</button>
  <button class="btn-inFavorite">Добавить в избранное</button>
</div>
