<div class="subcategory">
  <div class="subcategory-wrapper" *ngIf="category">
    <div>
      <a
        class="category-name"
        [routerLink]="['/category']"
        [queryParams]="{ categoryId: categoryId }"
      >
        {{ categoryName }}
      </a>
      <span> >> </span>
      <a
        class="subcategory-name"
        [routerLink]="['/subcategory']"
        [queryParams]="{ categoryId: categoryId, subCategoryId: subCategoryId }"
      >
        {{ subCategoryName }}
      </a>
    </div>

    <div class="foods-wrapper">
      <app-food-card
        *ngFor="let food of foods"
        [food]="food"
        [categoryId]="categoryId"
        [subCategoryId]="subCategoryId"
      ></app-food-card>
    </div>
    <button
      class="btn-load-foods"
      (click)="loadFoods()"
      *ngIf="!loadFoodsComlete"
    >
      Загрузить еще
    </button>
  </div>
</div>
