<div class="footer__line">
  <div class="footer__line-wrapper">
    <nav class="nav-communcation">
      <a
        class="nav-communcation__viber-contact nav-communcation__contact"
        href="https://chats.viber.com/21vek.by"
        >Viber</a
      >
      <a class="nav-communcation__a1-contact nav-communcation__contact"
        >+375 29 302 10 21</a
      >
      <a class="nav-communcation__contact">Telegram</a>
      <a class="nav-communcation__contact">+375 29 302 10 21</a>
      <a class="nav-communcation__contact">+375 17 302 10 21</a>
    </nav>
  </div>
</div>
