<div class="login-popup__wrapper">
  <form class="login-popup" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Вход</h2>
    <div class="btn-close" (click)="clickBtnClose()"></div>
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input
        name="email"
        matInput
        type="email"
        placeholder="your@mail.com"
        required
        autofocus
        formControlName="email"
      />
      <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        name="password"
        matInput
        type="password"
        required
        formControlName="password"
      />

      <mat-error *ngIf="password.invalid">{{
        getPasswordErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <div>
      <button
        type="submit"
        mat-raised-button
        [disabled]="form.invalid"
        class="login-submit"
      >
        Войти
      </button>
    </div>
  </form>
</div>
