<div class="food">
  <div class="food__wrapper" *ngIf="category">
    <div class="food__menu">
      <a
        class="category-name"
        [routerLink]="['/category']"
        [queryParams]="{ categoryId: categoryId }"
      >
        {{ categoryName }}
      </a>
      <span> >> </span>
      <a
        class="subcategory-name"
        [routerLink]="['/subcategory']"
        [queryParams]="{ categoryId: categoryId, subCategoryId: subCategoryId }"
      >
        {{ subCategoryName }}
      </a>
    </div>

    <div class="food__content">
      <h1 class="food__name">{{ food.name }}</h1>
      <app-food-slider [imageUrls]="food.imageUrls"></app-food-slider>
    </div>
  </div>
</div>
