.food {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;

  padding-top: 60px;
  border-bottom: 1px solid rgba(213, 215, 219, 0.4);

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 600px;
    min-width: 941px;
    max-width: 1090px;
    margin: 0 auto;
    padding: 0 2.2%;
  }
  &__menu {
    padding: 5px;
  }

  &__content {
    display: flex;
    flex-direction: row;

    position: relative;
    padding: 5px;
    width: 100%;
  }

  &__content-left-side {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  &__content-right-side {
    display: flex;
    flex-direction: column;
  }
  &__name {
    font-size: 32px;
    line-height: 40px;
  }

  &__description {
    margin-top: 20px;
    width: 90%;
  }
  &__description-title {
    color: #941e94;
    font-size: 14px;
  }

  &__description-info {
    padding: 10px;
    font-size: 14px;
  }

  .btn-inCart {
    display: inline-block;
    width: 140px;
    height: 41px;

    line-height: 41px;
    margin: 0;
    padding: 0;
    line-height: 41px;
    font-size: 14px;
    background: #ea1653;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: 0;

    &:hover {
      background-color: #d80944;
    }
  }

  .btn-inFavorite {
    display: inline;

    color: #0072bc;
    border-bottom: 1px dotted rgba(0, 114, 188, 0.5);
    cursor: pointer;
    pointer-events: auto;
    line-height: 24px;
    margin-bottom: 20px;
    text-decoration: none;
    background-color: transparent;

    outline: none;

    &:hover {
      color: #bc1242;
      text-shadow: none;
    }
  }
}
